In [70]:
import pandas as pd

In [71]:
merged_df = pd.read_pickle("../data/interim/merged_data.pkl")

In [72]:
merged_df

,app_id,release,peak_players,title,win,mac,linux,user_reviews,Categories,Genres,Tags,Price
0,2231450,2023-01-26,4529,Pizza Tower,True,False,False,35131,"Single-player,Multi-player,Co-op,Shared/Split ...","Action,Indie",NaN,19.99
1,2050650,2023-03-24,168191,Resident Evil 4,True,False,False,55455,"Single-player,Steam Achievements,Full controll...","Action,Adventure",NaN,39.99
2,2324650,2023-03-31,15543,The Murder of Sonic the Hedgehog,True,True,False,13564,Single-player,"Casual,Free To Play,Indie,Simulation",NaN,0.00
3,2263010,2023-03-28,1415,Pineapple on pizza,True,True,True,12588,"Single-player,Steam Achievements,Full controll...","Casual,Indie,Free To Play",NaN,0.00
4,1817230,2023-01-25,6132,Hi-Fi RUSH,True,False,False,16025,"Single-player,Steam Achievements,Full controll...",Action,NaN,29.99
...,...,...,...,...,...,...,...,...,...,...,...,...
37486,1690,2006-10-16,137,Space Empires V,True,False,False,360,"Single-player,Multi-player,Family Sharing",Strategy,NaN,2.99
37487,1670,2006-07-26,15,Iron Warriors: T - 72 Tank Command,True,False,False,250,"Single-player,Multi-player,Family Sharing",Strategy,NaN,1.19
37488,2520,2006-12-19,22,Gumboy - Crazy Adventures™,True,False,False,98,"Single-player,Family Sharing","Casual,Indie",NaN,4.99
37489,3960,2006-10-25,13,Shattered Union,True,False,False,126,"Single-player,Multi-player,Family Sharing",Strategy,"Strategy,Turn-Based Strategy",4.99
37490,4100,2006-10-05,9,Poker Superstars II,True,False,False,13,"Single-player,Family Sharing","Casual,Strategy,Indie",NaN,9.99

In [73]:
merged_df["release_year"] = pd.to_datetime(merged_df["release"]).dt.year

In [ ]:
def estimate_copies_sold(row):
    year = row["release_year"]
    reviews = row["user_reviews"]

    if year < 2014:
        multiple = 60
    elif 2014 <= year <= 2016:
        multiple = 50
    elif year == 2017:
        multiple = 40
    elif 2018 <= year <= 2019:
        multiple = 35
    else:  # 2019 and later
        multiple = 30

    return reviews * multiple

merged_df["reviews_sold_copies_proxy"] = merged_df.apply(estimate_copies_sold, axis=1)

In [75]:
merged_df

,app_id,release,peak_players,title,win,mac,linux,user_reviews,Categories,Genres,Tags,Price,release_year,reviews_sold_copies_proxy
0,2231450,2023-01-26,4529,Pizza Tower,True,False,False,35131,"Single-player,Multi-player,Co-op,Shared/Split ...","Action,Indie",NaN,19.99,2023,1053930
1,2050650,2023-03-24,168191,Resident Evil 4,True,False,False,55455,"Single-player,Steam Achievements,Full controll...","Action,Adventure",NaN,39.99,2023,1663650
2,2324650,2023-03-31,15543,The Murder of Sonic the Hedgehog,True,True,False,13564,Single-player,"Casual,Free To Play,Indie,Simulation",NaN,0.00,2023,406920
3,2263010,2023-03-28,1415,Pineapple on pizza,True,True,True,12588,"Single-player,Steam Achievements,Full controll...","Casual,Indie,Free To Play",NaN,0.00,2023,377640
4,1817230,2023-01-25,6132,Hi-Fi RUSH,True,False,False,16025,"Single-player,Steam Achievements,Full controll...",Action,NaN,29.99,2023,480750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37486,1690,2006-10-16,137,Space Empires V,True,False,False,360,"Single-player,Multi-player,Family Sharing",Strategy,NaN,2.99,2006,43200
37487,1670,2006-07-26,15,Iron Warriors: T - 72 Tank Command,True,False,False,250,"Single-player,Multi-player,Family Sharing",Strategy,NaN,1.19,2006,30000
37488,2520,2006-12-19,22,Gumboy - Crazy Adventures™,True,False,False,98,"Single-player,Family Sharing","Casual,Indie",NaN,4.99,2006,11760
37489,3960,2006-10-25,13,Shattered Union,True,False,False,126,"Single-player,Multi-player,Family Sharing",Strategy,"Strategy,Turn-Based Strategy",4.99,2006,15120
37490,4100,2006-10-05,9,Poker Superstars II,True,False,False,13,"Single-player,Family Sharing","Casual,Strategy,Indie",NaN,9.99,2006,1560