In [16]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#loading the datasets
dataset1 = pd.read_csv("../data/raw/games.csv", index_col=False) # update 5 months ago 
dataset2 = pd.read_csv("../data/raw/game_data_all.csv") #update 2 years ago

C:\Users\lotec\AppData\Local\Temp\ipykernel_24092\431428641.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  dataset1 = pd.read_csv("../data/raw/games.csv", index_col=False)

In [18]:
#Selecting only the columns we want
dataset1 = dataset1[[
    "AppID",
    "Name",
    "Release date",
    "Price",
    "Windows",
    "Mac",
    "Linux",
    "Genres",
    "Tags"
]]

dataset2 = dataset2[[
    "link",
    "peak_players",
    "positive_reviews",
    "negative_reviews",
    "total_reviews"
]]

In [19]:
#Preparing for merge

#correcting the 'link' in dataset2 to only be an int. Ex: "/app/2231450/" -> "2231450"
dataset2["app_id"] = dataset2["link"].str.extract(r"/app/(\d+)/")
dataset2["app_id"] = dataset2["app_id"].astype(int)
dataset2 = dataset2.drop(columns=["link"])

#renaming appId to be the same in dataset2
dataset1 = dataset1.rename(columns={"AppID": "app_id"})
dataset1["app_id"] = dataset1["app_id"].astype(int)

In [23]:

merged_df = pd.merge(dataset1, dataset2, on="app_id", how="right")
#print(merged_df)
#dataset1[dataset1["app_id"] == 2231450]
dataset2[dataset2["app_id"] == 2231450]

   peak_players  positive_reviews  negative_reviews  total_reviews   app_id
0          4529             19807               227          20034  2231450