In [1]:
import pandas as pd

In [7]:
df_sentiment = pd.read_pickle("../data/processed/app_level_sentiment.pkl")

In [5]:
main_df = pd.read_pickle("../data/interim/merged_data.pkl")

In [8]:
df_sentiment

,app_id,avg_sentiment,num_reviews,app_name,percent_positive
0,10,0.676647,11155,Counter-Strike,67.664724
1,20,0.445040,1492,Team Fortress Classic,44.504021
2,30,0.508577,991,Day of Defeat,50.857719
3,40,0.405830,446,Deathmatch Classic,40.582960
4,50,0.419870,1691,Half-Life: Opposing Force,41.986990
...,...,...,...,...,...
9956,562220,0.535461,282,Zup! 2,53.546099
9959,562320,0.250000,12,Locked In VR,25.000000
9961,562700,0.400000,10,Paintball 707,40.000000
9965,563400,0.400000,10,Ludu,40.000000
9966,563430,0.444444,18,Void Pyramid,44.444444

In [11]:
merged_df = main_df.merge(df_sentiment[["app_id", "avg_sentiment"]], on="app_id", how="left")

In [12]:
merged_df

,app_id,release,peak_players,title,win,mac,linux,user_reviews,Categories,Genres,Tags,Price,avg_sentiment
0,2231450,2023-01-26,4529,Pizza Tower,True,False,False,35131,"Single-player,Multi-player,Co-op,Shared/Split ...","Action,Indie",NaN,19.99,NaN
1,2050650,2023-03-24,168191,Resident Evil 4,True,False,False,55455,"Single-player,Steam Achievements,Full controll...","Action,Adventure",NaN,39.99,NaN
2,2324650,2023-03-31,15543,The Murder of Sonic the Hedgehog,True,True,False,13564,Single-player,"Casual,Free To Play,Indie,Simulation",NaN,0.00,NaN
3,2263010,2023-03-28,1415,Pineapple on pizza,True,True,True,12588,"Single-player,Steam Achievements,Full controll...","Casual,Indie,Free To Play",NaN,0.00,NaN
4,1817230,2023-01-25,6132,Hi-Fi RUSH,True,False,False,16025,"Single-player,Steam Achievements,Full controll...",Action,NaN,29.99,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37486,1690,2006-10-16,137,Space Empires V,True,False,False,360,"Single-player,Multi-player,Family Sharing",Strategy,NaN,2.99,0.242236
37487,1670,2006-07-26,15,Iron Warriors: T - 72 Tank Command,True,False,False,250,"Single-player,Multi-player,Family Sharing",Strategy,NaN,1.19,NaN
37488,2520,2006-12-19,22,Gumboy - Crazy Adventures™,True,False,False,98,"Single-player,Family Sharing","Casual,Indie",NaN,4.99,0.269231
37489,3960,2006-10-25,13,Shattered Union,True,False,False,126,"Single-player,Multi-player,Family Sharing",Strategy,"Strategy,Turn-Based Strategy",4.99,0.169231
37490,4100,2006-10-05,9,Poker Superstars II,True,False,False,13,"Single-player,Family Sharing","Casual,Strategy,Indie",NaN,9.99,NaN

In [14]:
merged_df['avg_sentiment'].isna().value_counts()

avg_sentiment
True     30631
False     6860
Name: count, dtype: int64

In [17]:
merged_df['has_sentiment'] = merged_df['avg_sentiment'].notna().astype(int)

In [19]:
df_main = pd.read_pickle("../data/interim/merged_data.pkl")

In [20]:
df_main

,app_id,release,peak_players,title,win,mac,linux,user_reviews,Categories,Genres,Tags,Price,avg_sentiment,has_sentiment
0,2231450,2023-01-26,4529,Pizza Tower,True,False,False,35131,"Single-player,Multi-player,Co-op,Shared/Split ...","Action,Indie",NaN,19.99,NaN,0
1,2050650,2023-03-24,168191,Resident Evil 4,True,False,False,55455,"Single-player,Steam Achievements,Full controll...","Action,Adventure",NaN,39.99,NaN,0
2,2324650,2023-03-31,15543,The Murder of Sonic the Hedgehog,True,True,False,13564,Single-player,"Casual,Free To Play,Indie,Simulation",NaN,0.00,NaN,0
3,2263010,2023-03-28,1415,Pineapple on pizza,True,True,True,12588,"Single-player,Steam Achievements,Full controll...","Casual,Indie,Free To Play",NaN,0.00,NaN,0
4,1817230,2023-01-25,6132,Hi-Fi RUSH,True,False,False,16025,"Single-player,Steam Achievements,Full controll...",Action,NaN,29.99,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37486,1690,2006-10-16,137,Space Empires V,True,False,False,360,"Single-player,Multi-player,Family Sharing",Strategy,NaN,2.99,0.242236,1
37487,1670,2006-07-26,15,Iron Warriors: T - 72 Tank Command,True,False,False,250,"Single-player,Multi-player,Family Sharing",Strategy,NaN,1.19,NaN,0
37488,2520,2006-12-19,22,Gumboy - Crazy Adventures™,True,False,False,98,"Single-player,Family Sharing","Casual,Indie",NaN,4.99,0.269231,1
37489,3960,2006-10-25,13,Shattered Union,True,False,False,126,"Single-player,Multi-player,Family Sharing",Strategy,"Strategy,Turn-Based Strategy",4.99,0.169231,1
37490,4100,2006-10-05,9,Poker Superstars II,True,False,False,13,"Single-player,Family Sharing","Casual,Strategy,Indie",NaN,9.99,NaN,0